<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp from="test@test.com">
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>